*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.about-container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about-container h1 h4{
    margin-top: 5rem;
}

.a-content{
    /* min-height:80vh; */
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
}



.a-detail{
    width:80%;
    font-weight: 500;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.a-intro{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.education-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-container div{
    width:100%;
    border: 0.1rem solid black;
    margin:1rem;
    border-radius: 0.5rem;
    padding:0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:769px){

    .a-content{
        /* height:80vh; */
        width:100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    

    .a-detail{
        position: relative;
        width:90%;
        font-size: calc(1rem + 0.1vw);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .a-intro{
        width:45%;
        margin-top: 4rem;
    }

    
    .education-container{
        width:45%;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .education-container div{
        width:90%;
    }

}

@media (min-width:1025px){
    .a-detail{
        font-size: 1.3rem;
    }
}


