*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.h-container{
    height:90vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.h-picture{
    height:35vh;
    width:35vh;
    border-radius: 50%;
    background: url("C:\Users\sadar\OneDrive\Desktop\portfolio\src\Static\profile-pic-bright.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: photoanimate 2s ease forwards;
    z-index: 1;
    position: relative;
}



.h-desc{
    height:45vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.desc-detail{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.desc-detail div{
   margin-left: 1rem;
   margin-right: 1rem;
   border: 0.1rem solid black;
   padding:0.8rem;
   border-radius: 0.5rem;
   transition-property: all;
   transition-duration: 0.2s;
   transition-timing-function: ease-in;
   cursor: pointer;
}

.h-logos{
    width:80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.desc-detail div:hover{
    background-color: black;
    color: white;
}

.leetcode{
    height: 2rem;
    width:2rem;
}

.leetcode img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.codeforces{
    height: 2rem;
    width:2rem;
    background: url("C:\Users\sadar\OneDrive\Desktop\portfolio\src\Static\codeforces-svgrepo-com.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.Darkdesc-detail div{
    border-color: white;
    color: white;
}

.Darkdesc-detail div:hover{
    background-color: white;
    color: black;
}

.animate{
    animation: textanimate 2s ease forwards ;
}


@keyframes textanimate{
    0%{
        opacity: 0.2;
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes horizontalSlide{
    0%{
        transform: translateX(-4rem);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes photoanimate{
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}

@media (min-width:1024px){
    .h-container{
        width:100vw;
        height:85vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .h-picture{
        height: 50vh;
        width:50vh;
        border-radius: 50%;
        background: url("C:\Users\sadar\OneDrive\Desktop\portfolio\src\Static\Profile_Photo.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .h-desc{
        width:40vw;
        height:60%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}




