*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.s-container{
    width:100vw;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-tech{
    margin-top: 4rem;
    width:90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.s-tech h2{
    width:100%;
    text-align: center;
}

.s-tech div{
    height:150px;
    width:150px;
    border: 0.1rem solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin:1rem;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.s-tech i{
    font-size: 75px;
}

.s-tech div p{
    font-weight: 800;
}

.s-tech div:hover{
    background-color: black;
    color: white;
}

.Darks-tech div{
    border-color: white;
    color:white;
}

.Darks-tech div:hover{
    background-color: white;
    color: black;
}

@media (max-width:1024px){
    .s-tech div{
        height: 100px;
        width:100px;
    }

    .s-tech i{
        font-size: 50px;
    }
}

.s-tech div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.s-tech{
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}

.aa:hover{
    transform: scale(1.1);
}

.aa-dark{
    box-shadow:  rgba(226, 226, 231, 0.25) 0px 13px 27px -5px, rgba(221, 216, 216, 0.3) 0px 8px 16px -8px;;
}




